[Desktop Entry]
Version=1.0
Name=YouTube TV
Comment=Run YouTube TV app on desktop
Exec=youtube-tv
StartupNotify=true
Type=Application
Categories=AudioVideo;Video;Network;
